# Managed by ansible (role zsh), you can edit this if it's part of your home directory
# This file is normally part of /etc/skel and copied to your home directory on first login
# You can use it to customize ZSH to your liking.

# Source SOS ZSH config. Feel free to override settings.
source /etc/zsh/sos.zsh
