[defaults]
ansible_managed = Please do not change this file directly since it is managed by Ansible and will be overwritten
action_plugins = plugins/actions
gathering = smart
fact_caching = jsonfile
fact_caching_connection=/tmp/ansible_facts_geco
fact_caching_timeout = 3600
