# Careful! The DHCP subnet config in this file is not applied anymore

dhcp0: 10.233.253.70
dhcp1: 10.233.253.71

global_vlans: "vlan 1,500-2000"

wan_vlan:
    description: WAN
    subnet: 10.233.200.0 255.255.255.0
    number: 199

vlans:
  core:
    description: core
    subnet: 10.233.254.0 255.255.255.0
    number: 1254
  server:
    description: server
    number: 1253
    core_ip: 10.233.254.253
    ip: 10.233.253.1
    subnet: 10.233.253.0 255.255.255.0
    dhcp:
      ip: 10.233.253.0
      router: 10.233.253.1
      range: 10.233.253.100 10.233.253.110
  portal:
    description: Captive portal
    number: 1252
    core_ip: 10.233.254.253
    ip: 10.233.240.1
    subnet: 10.233.240.0 255.255.248.0
  user1:
    description: user1
    number: 501
    core_ip: 10.233.254.1
    ip: 10.233.1.1
    subnet: 10.233.1.0 255.255.255.0
    local_deny_ssh_outbound: true
    dhcp:
      ip: 10.233.1.0
      router: 10.233.1.1
      range: 10.233.1.10 10.233.1.200
  user2:
    description: user2
    number: 502
    core_ip: 10.233.254.2
    ip: 10.233.2.1
    subnet: 10.233.2.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: true
    wan_ip: 10.233.200.102
    dhcp:
      ip: 10.233.2.0
      router: 10.233.2.1
      range: 10.233.2.10 10.233.2.200
  user3:
    description: user3
    number: 503
    core_ip: 10.233.254.3
    ip: 10.233.3.1
    subnet: 10.233.3.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: true
    wan_ip: 10.233.200.103
    dhcp:
      ip: 10.233.3.0
      router: 10.233.3.1
      range: 10.233.3.10 10.233.3.200
  user4:
    description: user4
    number: 504
    core_ip: 10.233.254.4
    ip: 10.233.4.1
    subnet: 10.233.4.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.104
    dhcp:
      ip: 10.233.4.0
      router: 10.233.4.1
      range: 10.233.4.10 10.233.4.200
  user5:
    description: user5
    number: 505
    core_ip: 10.233.254.5
    ip: 10.233.5.1
    subnet: 10.233.5.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.105
    dhcp:
      ip: 10.233.5.0
      router: 10.233.5.1
      range: 10.233.5.10 10.233.5.200
  user6:
    description: user6
    number: 506
    core_ip: 10.233.254.6
    ip: 10.233.6.1
    subnet: 10.233.6.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: true
    wan_ip: 10.233.200.106
    dhcp:
      ip: 10.233.6.0
      router: 10.233.6.1
      range: 10.233.6.10 10.233.6.200
  user7:
    description: user7
    number: 507
    core_ip: 10.233.254.7
    ip: 10.233.7.1
    subnet: 10.233.7.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.107
    dhcp:
      ip: 10.233.7.0
      router: 10.233.7.1
      range: 10.233.7.10 10.233.7.200
  user8:
    description: user8
    number: 508
    core_ip: 10.233.254.8
    ip: 10.233.8.1
    subnet: 10.233.8.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: true
    wan_ip: 10.233.200.108
    dhcp:
      ip: 10.233.8.0
      router: 10.233.8.1
      range: 10.233.8.10 10.233.8.200
  user9:
    description: user9
    number: 509
    core_ip: 10.233.254.9
    ip: 10.233.9.1
    subnet: 10.233.9.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.109
    dhcp:
      ip: 10.233.9.0
      router: 10.233.9.1
      range: 10.233.9.10 10.233.9.200
  user10:
    description: user10
    number: 510
    core_ip: 10.233.254.10
    ip: 10.233.10.1
    subnet: 10.233.10.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.110
    dhcp:
      ip: 10.233.10.0
      router: 10.233.10.1
      range: 10.233.10.10 10.233.10.200
  user11:
    description: user11
    number: 511
    core_ip: 10.233.254.11
    ip: 10.233.11.1
    subnet: 10.233.11.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.111
    dhcp:
      ip: 10.233.11.0
      router: 10.233.11.1
      range: 10.233.11.10 10.233.11.200

  user12:
    description: user12
    number: 512
    core_ip: 10.233.254.12
    ip: 10.233.12.1
    subnet: 10.233.12.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: true
    wan_ip: 10.233.200.112
    dhcp:
      ip: 10.233.12.0
      router: 10.233.12.1
      range: 10.233.12.10 10.233.12.200

  user13:
    description: user13
    number: 513
    core_ip: 10.233.254.13
    ip: 10.233.13.1
    subnet: 10.233.13.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.113
    dhcp:
      ip: 10.233.13.0
      router: 10.233.13.1
      range: 10.233.13.10 10.233.13.200

  user21:
    description: user21
    number: 521
    core_ip: 10.233.254.21
    ip: 10.233.21.1
    subnet: 10.233.21.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.121
    dhcp:
      ip: 10.233.21.0
      router: 10.233.21.1
      range: 10.233.21.10 10.233.21.200

  user23:
    description: user23
    number: 523
    core_ip: 10.233.254.23
    ip: 10.233.23.1
    subnet: 10.233.23.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.123
    dhcp:
      ip: 10.233.23.0
      router: 10.233.23.1
      range: 10.233.23.10 10.233.23.200
  user25:
    description: user25
    number: 525
    core_ip: 10.233.254.25
    ip: 10.233.25.1
    subnet: 10.233.25.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.125
    dhcp:
      ip: 10.233.25.0
      router: 10.233.25.1
      range: 10.233.25.10 10.233.25.200




  streaming:
    description: streaming
    number: 530
    core_ip: 10.233.254.30
    ip: 10.233.30.1
    subnet: 10.233.30.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.130
    dhcp:
      ip: 10.233.30.0
      router: 10.233.30.1
      range: 10.233.30.10 10.233.30.200

  admin:
    description: admin
    number: 531
    core_ip: 10.233.254.31
    ip: 10.233.31.1
    subnet: 10.233.31.0 255.255.255.0
    local_deny_ssh_outbound: true
    border_switch: false
    wan_ip: 10.233.200.131
    dhcp:
      ip: 10.233.31.0
      router: 10.233.31.1
      range: 10.233.31.10 10.233.31.200





















